{% extends "base.html" %}

{% block title %}<title>Om oss - Mycket lim</title>{% endblock %}

{% block content %}
    <div class="post">
        <a class="anchor" id="avsnitt"></a>
        <h2>Ett särskilt avsnitt</h2>

        <p><a href="https://sv.wikipedia.org/wiki/Hercules_(dikt)" target="_blank">Hercules
            (dikt)</a> på Wikipedia.</p>

        <p>Hercules skrevs enligt en utbredd uppfattning år 1647, ett år som är känt genom 
            ett brev av Erik Oxenstierna, men Johannes Loccenius skrev redan 1644 att han 
            hade en dikt av Stiernhielm med denna titel.</p>
    </div>
{% endblock %}
